
$grey: #eaeae9;
$greyDark: #cececede;

.invalid {
    border: 1px solid red !important;
}

.error {
    color: red;
}

.row-flex {
    display: flex;
    justify-content: center;
}

.fieldValue {
    width: 50%;
}

.flex-custom {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 5px;

    label {
        margin: 0px;
    }
}

.form-control {
    border: 0;
    background-color: $grey;
    transition: background-color .3s ease;

    &:focus {
        box-shadow: none;
        background-color: rgba(241, 122, 53, 0.25);
    }
}

.input-group-text {
    border: 0;
    background-color: $greyDark;
}

.button-home {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
        max-width: 50%;
    }
}

@media screen and (max-width: 570px){
    .row-flex {
        flex-direction: column;
    }

    .fieldValue {
        width: 100%;
    }

    .flex-custom {
        padding: 0;
    }
}