.modal-body {
    padding: 45px;

    label {
        text-align: left;
    }
}

.modal-content {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.modal-header {
    border: none;
    background-color: #fd9f69;
    border-radius: 0;
    color: #fff;
    h4 {
        width: 100%;
    }
}

.close {
    text-shadow: none;
    &:focus {
        outline: none;
    }
}